@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins:wght@300&display=swap');
 body{
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x:hidden;
font-size:medium;
font-family: 'Cinzel', serif;

}

.dark-back {
    background-color: green;
}

.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight:400;
    letter-spacing: 0.2rem;
    color: rgb(209, 215, 223);
    max-height: 45px;
    margin: 0;
    /* background-color: rgb(52, 69, 92); */
    opacity: 0.9;

    /* padding: 0;
box-sizing: border-box;
overflow-x:hidden;
font-size:medium;
font-family: 'Cinzel', serif; */
/*
background-color: rgb(35, 41, 48) !important; */
}

.nav-link{
    color:rgb(191, 207, 217)!important;
}
@media (min-width: 992px){
    .navbar .navbar-nav .nav-item .nav-link {
        padding-left: 25px;
        }

}
.navbar .navbar-nav .nav-item .nav-link:hover{
  color: rgb(130, 226, 111) !important;
    }

.active-class {
    color:  rgb(130, 226, 111) !important;
}

