<nav class="shadow navbar navbar-dark bg-dark  navbar-expand-md">
  <div  (window:resize)="onResize($event)"  class="container-fluid bg-dark">
    <a class="navbar-brand" [routerLink]="['Home']"><img src="../../assets/NewLogoLight.png" style="width:100px" alt="logo"></a>
    <button  *ngIf="!showClose"  class="navbar-toggler" type="button" (click)="toggleBtnCliock()"   data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="showClose">
    <button  (click)="btnCloseClick()"  class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa-solid fa-square-xmark"></i></span>
    </button>
  </div>
    <div class="collapse navbar-collapse" #navbarExpanded id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-md-0 navbar-nav-dark">
        <li class="nav-item" >
          <a class="nav-link active" routerLinkActive="active-class" [routerLinkActiveOptions]="{exact: true}"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          (click)="routerLinkClicked()" aria-current="page"[routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active-class">
          <a class="nav-link" routerLinkActive="active-class" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" (click)="routerLinkClicked()" [routerLink]="['/blogs']">Blogs</a>
        </li>
        <li class="nav-item" routerLinkActive="active-class">
          <a class="nav-link" routerLinkActive="active-class" (click)="routerLinkClicked()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" [routerLink]="['/contact']">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-class" (click)="routerLinkClicked()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" [routerLink]="['about']">About</a>
        </li>
        <!-- admin start-->
        <li class="nav-item">
          <a *ngIf="userName" class="nav-link" routerLinkActive="active-class" (click)="routerLinkClicked()" 
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" [routerLink]="['billing']">Billing</a>
        </li>
        <li class="nav-item">
          <a *ngIf="userName" class="nav-link" routerLinkActive="active-class" (click)="routerLinkClicked()"
           data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" [routerLink]="['tenders']">Tenders</a>
        </li>       

        <!-- admin end-->
        <li class="nav-item">
          <a  style="color: blue;" *ngIf="userName==''" class="nav-link" routerLinkActive="active-class" (click)="routerLinkClicked()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" [routerLink]="['login']"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">          
          <a  *ngIf="userName" (click)="logout()" class="nav-link" routerLinkActive="active-class" (click)="routerLinkClicked()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>      
      <div>
        {{userName}}
      </div>
    </div>
  </div>  
</nav>

<!-- Button trigger modal -->
<button id="modal-btn-header" type="button"  
  [hidden]="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-header">
    Launch demo modal
  </button>
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal-header" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{userName}} logged out successfully!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>         
      </div>
    </div>
  </div>