<div class="footer bg-dark text-white pt-5 pb-5">
    <div class="container text-center text-white text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5  class=" footer-font text-uppercase mb-4 text-warning ">Codingtenetz</h5>
                <p class="footer-font">This website contains various technical blogs regarding software design and development</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="footer-font text-uppercase mb-4 text-warning ">Products</h5>
                <p class="footer-font"><a  href="#" class="link-light">Software trainings</a> </p>
                <p class="footer-font"><a href="#" class="link-light">Web Development</a> </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="footer-font text-uppercase mb-4 text-warning ">Useful links</h5>
                <p class="footer-font"><a href="#" class="text-white">Contact for software development</a> </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="footer-font text-uppercase mb-4 text-warning ">Contact</h5>
                <div><i class="fas  fa-home mr-3"></i>Bangalore, ITPL</div>
                <p class="footer-font"><i class="fas fa-envelope mr-3"></i>ashish.khare@codingtenetz.com </p>
                
            </div>
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
<div class="col-md-7 col-lg-8">
<p>Copyright@2022 All rights reserved by
<a href="#" style="text-decoration: none;"><strong class="text-warning">Condingtenetz</strong></a></p>
</div>

        </div>
    </div>
</div>