@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.footer-font {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

.footer {
    background-color: rgb(52, 69, 92);
    opacity: 0.9;

}

div p a:hover {
    color: rgb(159, 108, 133) !important;
}

@media (max-width:800px) {
    .footer div div div .h5 {
        font-size: 0.8rem !important;
    }

    .footer div div div p {
        font-size: small !important;
    }
}