
<div class=" intro-container container-fluid d-flex flex-column justify-content-center mt-3">
    <div class="back-wrapper">
        <a [routerLink]="['/blogs']">Back</a>
       </div>
    <div class="intro d-flex justify-content-center">
      <!-- <img class="myPic  shadow" src="../../assets/webService.jpg"> -->
      <div class="intro-text">        
        <div class="heading name" >Design patterns</div>                
        <div ><p class="explanation"> Design patterns are the core of Object oriented programming. These are fundamental concepts, which when used appropriately helps building highly maintainable and extensible software designs.
            Any design pattern is a well proven solution to a specific type of design challenge. For example factory patterns help solving design challenges related to objects creations. There are many design patterns but here I would like to mention few important 
            which I have used alot any software system will follow at least these patterns.
            </p></div>
            <div><p class="subheading">Following are the commonly used design patterns.</p><p class="subheading">Creational patterns</p>
            <p class="explanation"> Abstract Factory <br> Factory Method <br> Singleton <br> Builder </p></div>
            <div><p class="subheading">Following are the commonly used design patterns.</p><p class="subheading">Behavioral patterns</p>
                <p class="explanation"> Observer <br> Command <br> Iterator <br> Strategy </p></div>       
                <div><p class="subheading">Following are the commonly used design patterns.</p><p class="subheading">Structural patterns</p>
                    <p class="explanation"> Decorator <br> Facade <br> Adapter <br> Proxy </p></div>               
        
            <div class="title"><span></span></div>
        <div class="mydetails">
       
        <div class="title"><span>Object oriented core concepts, upon which design patterns are build</span></div>        
        <p>
            Following are some important object oriented concepts which are utilized to realize any design. </p>
            <p>-Encapsulation</p>
            <p>-Abstraction</p>
            <p>-Inheritance</p>
            <p>-Containment</p>
      </div>
      <div>
          <!-- <a class="btn btn-secondary" routerLink="/MoreAbout">More about me</a> -->
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">        
      </div>
    </div>
  </div>