<div class="container mt-5 about-container">
<div><h3>Introduction</h3></div>
<div>
    <p>
    Hi, I have 16+ Years of industry experience in software design and development. I have good knowledge of designing
    performance oriented, scalable web applications/services using Microsoft and open-source
    technologies. Excellent interpersonal and communication skills and a good team player.
    </p>
</div>
<div><h3>Technical Expertise</h3></div>
<p>Following are the technical skills I have and like to improve upon</p>
<p>
<i class="fa fa-check" aria-hidden="true"></i>   Expertise in Microsoft web technologies C# .Net Core, ASP.Net, MVC, RESTful web
services, WCF.
<br><br>
<i class="fa fa-check" aria-hidden="true"></i>  Expertise in client side scripting and web UI/UX technologies like Angular, JQuery,
JAVASCRIPT, AJAX and UI libraries like Angular Material, Bootstrap.<br><br>
<i class="fa fa-check" aria-hidden="true"></i>  Hands on experience on SOA and distributed applications and knowledge of scalable
architectures.<br><br>
<i class="fa fa-check" aria-hidden="true"></i>  Extensive hands-on of SQL Server PL/SQL programming and Entity Framework with
database first approach.<br><br>
<i class="fa fa-check" aria-hidden="true"></i>  Expertise in object-oriented programming, Design Patterns, principles (OOPs). Strong
knowledge about creating flexible, extensible, maintainable software designs.<br><br>
<i class="fa fa-check" aria-hidden="true"></i>  Expertise on of latest design trends like Inversion of Control/Dependency Injection to
make loosely coupled/testable architecture (have used Autofac/Unity IOC container).<br><br>
<i class="fa fa-check" aria-hidden="true"></i>  Exposure and working knowledge of multiple data Structure (linked list, stack, queues,
trees etc) and Algorithms (Recursion, divide and conquer, searching/sorting) to write
performance centric code.<br><br>
<i class="fa fa-check" aria-hidden="true"></i>  Extensive experience in designing modern web applications with help of Angular UI
components and RESTful service components, based on loosely coupled architecture by
following best industry trends.<br><br>
</p>
</div>