@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:ital,wght@0,300;1,400&family=Fredoka+One&display=swap');
.intro{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    align-content: space-around;
    max-width: 95%;
    padding: 50px 30px 0px 20px;
}
.myPic {
    width: 300px;
    height: auto;
}

.intro-text {
    width:500px;
    padding-left: 50px;
}

.about-container {
    margin:500px, 0px;
    display: flex;
    flex-direction: column;
     align-content: space-between;
}

.container div{
    margin: 5px;
}


.back-wrapper {
    padding:3rem 0rem 0rem 3rem;
}