<div class="container">
    <div class="mb-5 mt-5">
        <h3 class="contact-header" >Contact me for any project work or any other enquiry!</h3>
    </div>
    <div class="contact-container">
        <form class="contact-form">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPhone" class="form-label">Subject</label>
                <input type="tel" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp">
                <div id="phoneHelp" class="form-text">Please share, What can I help you about.</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>