<div class="container main-topic-container">
    <div class="row">
        <h2 class="text-center">
            Software Development Technologies and topics
        </h2>
        <p class="text-center">Deep dive into following technical areas. Topics are covered with examples realtime use cases.
        </p>
    </div>
    <div class="row">
        <div class="topic-container">
            <div class="card text-bg-secondary m-2">
                <div class="card-body d-flex flex-column">
                    <i class="fa-solid fa-bars m-2"></i>
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">HTML/CSS Javascript and necessary tools to build websites</p>
                    <a  [routerLink]="['/web-dev']"class="btn btn-primary mt-auto button">See more</a>
                </div>
            </div>
            <div class="card text-bg-secondary m-2" >
                <div class="card-body d-flex flex-column">
                    <i class="fa-sharp fas fa-cubes m-2"></i>
                    <h5 class="card-title">System Design</h5>
                    <p class="card-text">Tutorials on how to design a system from scratch</p>
                    <a [routerLink]="['/sys-design']" class="btn btn-primary mt-auto button">See more</a>
                </div>
            </div>
            <div class="card text-bg-secondary m-2" style="width: 18rem;">

                <div class="card-body d-flex flex-column">

                    <i class="fas fa-network-wired m-2"></i>
                    <h5 class="card-title">Object Oriented Programming</h5>
                    <p class="card-text">Explaination on Design patterns and principles and how to use effectively</p>
                    <a [routerLink]="['/oop']" class="btn btn-primary mt-auto mr-auto button">See more</a>
                </div>
            </div>
            <div class="card text-bg-secondary m-2">
                <div class="card-body d-flex flex-column justify-content-start">
                    <i class="fa-solid fa-layer-group m-2"></i>
                    <h5 class="card-title">Web Services</h5>
                    <p class="card-text">Web service design and development.</p>
                    <a [routerLink]="['/web-service-dev']" class="btn btn-primary mt-auto button">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>