<div class="p-0 intro-container container-fluid d-flex flex-column justify-content-center mt-3">
  <div class="intro d-flex justify-content-center">
    <!-- <img class="myPic  shadow" src="../../assets/MyPic.jpg"> -->
    <div class="intro-text">
      <div class="hi"><span>Hi</span></div>
      <div ><span class="name">I'm Ashish</span><i class="fa-sharp fas fa-feather-pointed"></i></div>
      <div class="title"><span>Software Developer</span></div>
      <div class="mydetails">
      <p>
        I have been working as software developer in multiple tech companies for more than 16 years.<br>
        I have created this website for my portfolio as well as a place where I can discuss various web technologies
        with you all.
      </p>
    </div>
    <div class="more-about-me-btn-container">
        <a class="btn btn-secondary" routerLink="/MoreAbout">More about me</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-topics></app-topics>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="get-in-touch">
        <div>
          <h5>Looking for any help with software development....? </h5>
        </div>
        <div>
          <a class="btn btn-secondary" routerLink="/contact" >Get in touch</a>
          <!-- <button class="btn btn-secondary">Get in touch</button> -->
        </div>
      </div>
    </div>
  </div>
</div>