@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:ital,wght@0,300;1,400&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

.myPic {
    width: 300px;
    height: auto;
    box-shadow: 0 4px 5px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.intro-text {
    width:500px;
    padding-left: 50px;
}

/* .intro-text h5 {
font-size: 25px;
text-transform: capitalize;
font-family: 'Acme', sans-serif;
} */

.intro-text p {
    font-family: 'Lato', sans-serif;
    font-size:large;
}

.get-in-touch {
    width: 100%;
    height: 300px;
    background-color: #e9e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.btn {
    border-radius: 2rem;
    box-shadow: 0 4px 5px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }

 .btn:hover{
    border-radius: 2rem;
    background-color: rgb(179, 197, 214);
    color: black;
   transition: 1s;
}

.hi {
    font-size: 40px;
    font-family: 'Erica One', cursive;
}

.name {
    font-size: 30px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900 !important;
    margin-right: 5px;
}
.title {
    font-size: 20px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900 !important;
    margin-right: 5px;
}

.mydetails {
    margin-top: 10px;
}

.buttons {
    font-family: 'Lato', sans-serif !important;
    font-size: 10px;
}

@media (max-width:800px) {
    .myPic {
       display: none;
    }
}