<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="header-div">
                <app-header></app-header>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 main-comp-container">
           <!-- <app-introduction></app-introduction> -->
           <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12" style="height:400px;">
            <app-topics></app-topics>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <app-footer></app-footer>
        </div>
    </div>

</div>