<div class=" intro-container container-fluid d-flex flex-column justify-content-center mt-3">
    <div class="back-wrapper">
        <a [routerLink]="['/blogs']">Back</a>
       </div>
    <div class="intro d-flex justify-content-center">
      <!-- <img class="myPic  shadow" src="../../assets/webService.jpg"> -->
      <div class="intro-text">        
        <div ><span class="name">What is Web Service?</span></div>
        <div class="title"><span></span></div>
        <div class="mydetails">
        <p>
          There are many definitions available over internet hence I would like to describe briefly based on  my understanding.<br>
           "Web service is any software which is available to be used over internet and follows some protocals can be considered as a web service.""
        </p>
        <div class="title"><span>SOAP or RESTful</span></div>        
        <p>
            Two commonly used types of web services are: SOAP and REST. </p>
            <p>Basically these services are characterized by protocals they use. These protocals involve transmission protocals like TCP/IP, HTTP, UDP and messaging protocals like SOAP (XML based message) or JSON messages. <br>
             
          </p>
          <h5>SOAP</h5>
          <p>SOAP services have been there for very long time and have been integral part of SOA architecture. These services are</p>
          <h5>RESTful</h5>
          <p>These are light weight services which work on HTTP constructs like GET, POST, PUT, DELETE. </p>
      </div>
      <div>
          <!-- <a class="btn btn-secondary" routerLink="/MoreAbout">More about me</a> -->
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">        
      </div>
    </div>
  </div>