<div class="p-0 container-fluid d-flex flex-column justify-content-center">
    <div class="wallpaper d-flex flex-column justify-content-center">

        <div class="intro-text">
            <!-- <div ><span class="name">I'm Ashish</span></div> -->
            <!-- <div class="title"><span>Software Developer</span></div>         -->
            <h1 style="color: rgb(248, 238, 233)">Full stack software development guide</h1>
            <h4 style="color: rgb(227, 233, 240)">Web Development, System Design</h4>
        </div>
    </div>
    <div class="get-in-touch">
        <div>
            <h5>Looking for any help with software development....? </h5>
        </div>
        <div>
            <a class="btn btn-secondary" routerLink="/contact">Get in touch</a>
            <!-- <button class="btn btn-secondary">Get in touch</button> -->
        </div>
    </div>
</div>